# .gitignore
model_weights/
PepAF/output/*
PepAF/peptide_data/esm/*
PepAF/receptor_data/esm/*
PepAF/pmhc_data
PepAF/pdbbind_data
PepAF/__pycache__
PepAF/amnet/__pycache__
PepAF/smnet/__pycache__
PepAF/peptide_data
PepAF/receptor_data
PepAF/utils/__pycache__
PepAF/utils/iupred/__pycache__
PepAF/utils/preprocess/esm_pep
PepAF/utils/preprocess/fasta
PepAF/utils/preprocess/ids
PepAF/utils/preprocess/*.tsv
PepAF/utils/preprocess/*.json
PepAF/output
PepRL/results
PepRL/__pycache__
PepRL/esm/__pycache__
PepRL/graph/__pycache__
PepRL/iupred/__pycache__
PepRL/PepAF/__pycache__
PepRL/PepAF/amnet/__pycache__
PepRL/PepAF/smnet/__pycache__